.wp-block-contentblocks-staff {

  ul.social-links {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;

      a {
        text-decoration: none;
        box-shadow: none;
      }
    }
  }
}
